<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate News</title>
    </head>

    <body>

        <header>
            <div id="logo">
                News Evaluation
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <div id = "form_box">
                    <h2>Analyze News</h2>
                    <form>
                        <label for="articleUrl">Enter An Article URL:</label>
                        <input id="articleUrl" type="text" name="input" value="" placeholder="https://www.example.com">
                        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    </form>
                </div>
            </section>
            <section id = "evaluation">
                <h1>Analysis</h1>
                <h3>Polarity: <span id="polarity"></span></h3>
                <h3>Subjectivity: <span id="subjectivity"></span></h3>
            <section>
        </main>

        <footer>
            <p> &copy Benjamin Hossain</p>
        </footer>

    </body>
</html>
